{% load static %}
<footer>
    <div class="footer-block">
        <h3 >Связаться с нами</h3>
        <p>
            +996 (777) 77-77-77<br>
            +996 (777) 77-77-77<br>
            ул.Киевская 999-4<br>
            Adilet@gmail.com​
        </p>
    </div>
    <div class="footer-block">
        <h3 class="">Связаться с нами</h3>
        <div class="subscribe-section">
            <div class="footer-icons">
                <div class="icon-container">
                    <a href="https://youtube.com"><img src="{% static 'shop/images/footer/youtube.png' %}" alt="Icon 1"></a>
                </div>
                <div class="icon-container">
                    <a href="https://twiiter.com"><img src="{% static 'shop/images/footer/twitter.png' %}" alt="Icon 2"></a>
                </div>
                <div class="icon-container">
                    <a href="https://tiktok.com"><img src="{% static 'shop/images/footer/tt.png' %}" alt="Icon 3"></a>
                </div>
                <div class="icon-container">
                    <a href="https://facebook.com"><img src="{% static 'shop/images/footer/facebook.png' %}" alt="Icon 4"></a>
                </div>
                <div class="icon-container">
                    <a href="https://instagram.com"><img src="{% static 'shop/images/footer/instagram.png' %}" alt="Icon 5"></a>
                </div>
            </div>
            <div class="text-input-container">
                <input type="text" placeholder="Почта">
                <button>Отправить</button>
            </div>
        </div>
    </div>
    <div class="footer-block">
        <h3>Есть вопросы?</h3>
        <div class="question-container">
            <textarea rows="7" cols="40" placeholder="Пишите здесь"></textarea>
            <div class="button-group">
                <button class="send-btn" >Отправить</button>
                <button class="delete-btn">Удалить</button>
            </div>
        </div>
    </div>
</footer>
