{% extends 'shop/base.html' %}

{% block content %}
<div class="container">
    <div class="guarantee-page">
        <h1>Гарантия</h1>
        <p>Мы ценим ваш выбор обратиться в наш магазин. Для нас важно, чтобы каждый клиент получил качественный и надежный товар, поэтому мы предоставляем гарантию на все наши продукты.</p>

        <h2>Условия гарантии</h2>
        <p>1. <strong>Гарантийный срок:</strong> Гарантийный срок на все товары составляет 1 год с момента покупки. Он действителен при соблюдении всех условий, перечисленных ниже.</p>
        <p>2. <strong>Условия предоставления гарантии:</strong> Гарантия действительна при наличии гарантийного талона и оригинальной упаковки товара. Гарантийный талон должен быть заполнен правильно и содержать дату продажи, модель товара, печать или подпись продавца.</p>
        <p>3. <strong>Сроки и условия ремонта:</strong> В случае неисправности товара, покрываемой гарантией, клиент имеет право на бесплатный ремонт или замену товара на аналогичный, в зависимости от условий поставки. Срок ремонта зависит от характера неисправности и доступности запчастей. По окончании ремонта гарантия на товар продлевается на время, равное сроку ремонта.</p>
        <p>4. <strong>Исключения из гарантии:</strong> Гарантия не распространяется на повреждения, вызванные несоблюдением правил эксплуатации, падения, удары, воздействие жидкости, а также в случае наличия следов ремонта или модификации товара без согласования с производителем.</p>
        <p>5. <strong>Правила возврата:</strong> При обнаружении несоответствия товара описанию, вы имеете право на возврат или обмен товара в течение 14 дней с момента покупки при сохранении товарного вида и упаковки.</p>

        <p>При возникновении вопросов или проблем с товаром, обратитесь к нашей службе поддержки клиентов для получения помощи и консультации.</p>
    </div>
</div>
{% endblock %}
